@{
    Layout = null;
}
<h2>Angular MVC Binding</h2>
<div class="well well-large">
    This project is created to build enterprise level ASP.NET MVC based app's that have severside via Razor engine and client side bindings via angular.
    The demo section contains a working example of AngularJS in action.
</div>